<form name="quick_add_user_form" novalidate class="form client-form" ng-submit="submit(client)" quick-form show-required="false">
  <div class="form-group has-feedback" ng-class="{ 'has-error' : (quick_add_user_form.$submitted || quick_add_user_form.name.$touched) && quick_add_user_form.name.$error.required }">
    <input type="text" class="form-control" placeholder="Nombre" ng-model="client.name" name="name" required/>
    <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-class="{ 'hidden' : !((quick_add_user_form.$submitted ||  quick_add_user_form.name.$touched) && quick_add_user_form.name.$error.required) }"></span>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Ciudad" ng-model="client.city"/>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Direccion" ng-model="client.address"/>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Codigo postal" ng-model="client.postal_code"/>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Telefono" ng-model="client.phone"/>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Correo electronico" ng-model="client.email"/>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="CUIT" ng-model="client.cuit"/>
  </div>
  <div class="form-group">
    <button type="button" class="btn btn-default" ng-model="client.category_id" bs-options="client_category.id as client_category.name for client_category in client_categories" placeholder="Selecciona la categoria" bs-select>
      <span class="caret"></span>
    </button>
  </div>
  <div class="actions form-group">
    <input type="submit" class="btn btn-success" value="Guardar cliente" ng-disabled="!quick_add_user_form.$valid"/>
  </div>
</form>
