<h1>Clientes</h1>

<div class="row">
  <div class="col-xs-12">
    <form name="client_quick_search" novalidate class="form quick-search-form form-inline">
      <div class="form-group">
        <input type="text" class="form-control" ng-model="$parent.query" ng-model-options="{ debounce: 100 }" placeholder="Buscar cliente"/>
      </div>
    </form>
    {{predicate}}
    <table class="table nospace table-striped">
      <thead>
        <tr>
          <th colspan="1" class="text-center">
            <a href="">
              <i class="fa fa-building-o" title="Categoria"></i>
              </span>
            </a>
          </th>
          <th><a href="" ng-click="reverse=!reverse;order('name', reverse)">Nombre</a></th>
          <th><a href="" ng-click="reverse=!reverse;order('address', reverse)">Direccion</a></th>
          <th><a href="" ng-click="reverse=!reverse;order('phone', reverse)">Telefono</a></th>
          <th><a href="" ng-click="reverse=!reverse;order('cuit', reverse)">CUIT</a></th>
          <th><a href="" ng-click="reverse=!reverse;order('email', reverse)">Correo electronico</a></th>
          <th class="text-center" colspan="1"></th>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="client in pagination.pagedItems">
          <td class="text-center">
            <i class="fa fa-building-o" ng-class="{ 'green' : client.category.id === 0, 'red' : client.category.id === 1, 'blue' : client.category.id === 2 }" title="{{client.category.name}}"></i>
          </td>
          <td>
            <a ui-sref="clients.show({ id: client.id })">
              {{client.name}}
            </a>
          </td>
          <td>{{client.address_ext}}</td>
          <td>{{client.phone}}</td>
          <td>{{client.cuit}}</td>
          <td>{{client.email}}</td>
          <td class="text-center">
            <a ui-sref="clients.edit({ id: client.id })" title="Editar">
              <i class="fa fa-pencil orange"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
    <pagination total-items="pagination.totalItems" items-per-page="pagination.itemsPerPage" ng-model="pagination.currentPage" ng-change="pagination.pageChanged()" ng-if="pagination.itemsPerPage < pagination.totalItems"></pagination>
  </div>
</div>
<hr/>
<div class="row">
  <div class="col-xs-12">
    <h4>Quick add</h4>
    <div ui-view="quick-add"></div>
  </div>
</div>