<h1>
  <span class="glyphicon glyphicon-home" aria-hidden="true" ng-if="!!client.members.length"></span>
  {{client.name}}
  <a ui-sref="clients.edit({ id: client.id })">
    <small class="glyphicon glyphicon-pencil orange"></small>
  </a>
</h1>
<hr/>

<div class="row">
  <div class="col-xs-6">
    <p>
      <strong>Direccion:</strong>
      {{client.address_ext}}
    </p>

    <p>
      <strong>Telefono:</strong>
      {{client.phone}}
    </p>

    <p>
      <strong>Email:</strong>
      {{client.email}}
    </p>

    <p>
      <strong>Categoria:</strong>
      {{client.category.name}}
    </p>
  </div>

  <div class="col-xs-6">
    <div ng-show="!client.contacts.length">
      <h4>Contactos</h4>
      <ul>
        <li ng-repeat="contact in contactsPagination.pagedItems">
          <span class="glyphicon glyphicon-{{contact.has_the_system ? 'ok green' : 'remove red' }}" aria-hidden="true" ng-click="setHasTheSystemForMember(contact)" data-title="Click to toggle!" bs-tooltip></span>
          <a ui-sref="clients.show({ id: contact.id })">
            {{contact.name}}
          </a>
        </li>
      </ul>
      <pagination total-items="contactsPagination.totalItems" items-per-page="contactsPagination.itemsPerPage" ng-model="contactsPagination.currentPage" ng-change="contactsPagination.pageChanged()" ng-show="contactsPagination.itemsPerPage < contactsPagination.totalItems"></pagination>
      <form name="add_contact_form" novalidate class="form contact-form form-inline" ng-submit="addContact(contact)">
        <div class="form-group">
          <input type="text" class="form-control" ng-model="contact.name" placeholder="Nombre" required>
        </div>
        <div class="actions form-group">
          <input type="submit" class="btn btn-success" value="Agregar" ng-disabled="!add_contact_form.$valid"/>
        </div>
      </form>
    </div>

    <hr ng-if="!client.companies.length"/>

    <div ng-show="!client.members.length">
      <h4>Belongs to</h4>
      <ul>
        <li ng-repeat="company in companiesPagination.pagedItems">
          <span class="glyphicon glyphicon-{{company.has_the_system  ? 'ok green' : 'remove red' }}" aria-hidden="true" ng-click="setHasTheSystemForCompany(company)" data-title="Click to toggle!" bs-tooltip></span>
          <a ui-sref="clients.show({ id: company.id })">
            {{company.name}}
          </a>
        </li>
      </ul>
      <pagination total-items="companiesPagination.totalItems" items-per-page="companiesPagination.itemsPerPage" ng-model="companiesPagination.currentPage" ng-change="companiesPagination.pageChanged()" ng-show="companiesPagination.itemsPerPage < companiesPagination.totalItems"></pagination>
      <form name="add_company_form" novalidate class="form company-form form-inline" ng-submit="addCompany(company)">
        <div class="form-group">
          <input type="text" class="form-control" ng-model="company" bs-options="company as company.name for company in searchCompanies($viewValue)" placeholder="Search for company" bs-typeahead required>
        </div>
        <div class="actions form-group">
          <input type="submit" class="btn btn-success" value="Add" ng-disabled="!add_company_form.$valid"/>
        </div>
      </form>
    </div>
  </div>
</div>

<hr/>
<div bs-tabs>
  <!-- <div ui-view="visits" title="Visits" bs-pane>
  </div>
  <div ui-view="contact-people" title="Contacts" bs-pane>
  </div> -->
</div>