<div class="row">
  <div class="col-xs-12">
    <div ng-include="'clients/visits/list.html'"></div>
  </div>
</div>
<hr/>
<div class="row">
  <div class="col-xs-12">
    <div ng-include="'clients/visits/form.html'"></div>
  </div>
</div>