<div class="row">
  <div class="col-xs-12">
    <table class="table nospace table-striped">
      <thead>
        <tr>
          <th><a href="" ng-click="reverse=!reverse;order('visit_date', reverse)">Date</a></th>
          <th><a href="" ng-click="reverse=!reverse;order('visit_type.name', reverse)">Visit Type</a></th>
          <th><a href="" ng-click="reverse=!reverse;order('contact_person.name', reverse)">Contact Person</a></th>
          <th>Observations</th>
          <th colspan="1"></th>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="visit in pagination.pagedItems">
          <td>{{visit.visit_date}}</td>
          <td>{{visit.visit_type.name}}</td>
          <td>
            <a ui-sref="clients.show.contact_people.show({ id: visit.client.id, person_id: visit.contact_person.id })">
              {{visit.contact_person.name}}
            </a>
          </td>
          <td class="wide text-ellipsis">{{visit.observations}}</td>
          <td class="text-center" >
            <!-- <a ui-sref="visits.edit({ id: visit.id })">
              <span class="glyphicon glyphicon-pencil orange" aria-hidden="true"></span>
            </a> -->
          </td>
        </tr>
      </tbody>
    </table>
    <pagination total-items="pagination.totalItems" items-per-page="pagination.itemsPerPage" ng-model="pagination.currentPage" ng-change="pagination.pageChanged()" ng-if="pagination.itemsPerPage < pagination.totalItems"></pagination>
  </div>
</div>
