<div class="row">
  <div class="col-xs-12">
    <form name="entry_order_quick_search" novalidate class="form quick-search-form form-inline">
      <div class="form-group">
        <input type="text" class="form-control" ng-model="$parent.query" ng-model-options="{ debounce: 100 }" placeholder="Buscar remito"/>
      </div>
    </form>

    <table class="table nospace table-striped">
      <thead>
        <tr>
          <th  class="text-center">
            <a href="" ng-click="reverse=!reverse;order('number', reverse)">
              <i class="fa fa-bookmark-o"></i>
              Numero
            </a>
          </th>
          <th><a href="" ng-click="reverse=!reverse;order('datetime', reverse)">Fecha</a></th>
          <th>Comentarios</th>
          <th>Transformadores</th>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="order in pagination.pagedItems">
          <td class="text-center">
            <a ui-sref="entryorders.show({ client_id: client.id, id: order.id })">
              {{order.number}}
            </a>
          </td>
          <td>{{order.datetime}}</td>
          <td>{{order.comments}}</td>
          <td>{{order.transformers.length}}</td>
        </tr>
      </tbody>
    </table>

    <pagination total-items="pagination.totalItems" items-per-page="pagination.itemsPerPage" ng-model="pagination.currentPage" ng-change="pagination.pageChanged()" ng-if="pagination.itemsPerPage < pagination.totalItems"></pagination>
  </div>
</div>
<hr/>
<div class="row">
  <div class="col-xs-12">
    <h4>Agregar remito de ingreso</h4>
    <form name="add_entry_order_form" novalidate class="form order-form" ng-controller="EntryOrderAddCtrl" ng-submit="saveOrder(order)">
      <div class="form-group has-feedback" ng-class="{ 'has-error' : (add_entry_order_form.$submitted || add_entry_order_form.number.$touched) && add_entry_order_form.number.$error.required }">
        <input type="text" class="form-control" placeholder="Numero" ng-model="order.number" name="number" required/>
        <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-class="{ 'hidden' : !((add_entry_order_form.$submitted ||  add_entry_order_form.number.$touched) && add_entry_order_form.number.$error.required) }"></span>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Fecha" ng-model="order.datetime" name="datetime"/>
      </div>
      <div class="form-group">
        <textarea class="form-control" placeholder="Comentarios" ng-model="order.comments" name="comments"></textarea>
      </div>
      <div class="actions form-group">
        <input type="submit" class="btn btn-success" value="Agregar" ng-disabled="!add_entry_order_form.$valid"/>
      </div>
    </form>
  </div>
</div>