<div class="row">
  <div class="col-xs-12">
    <table class="table nospace table-striped">
      <thead>
        <tr>
          <th  class="text-center"><span class="fa fa-user"></span></th>
          <th><a href="" ng-click="reverse=!reverse;order('name', reverse)">Nombre</a></th>
          <th>Correo electronico</th>
          <th>Telefono</th>
          <th>Puesto</th>
          <th class="text-center" colspan="1"></th>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="contact in pagination.pagedItems">
          <td class="text-center">
            <span class="fa" ng-class="contact.decision_maker ? 'fa-user-md blue-dark' : 'fa-user gray-dark'"></span>
          </td>
          <td>{{contact.name}}</td>
          <td>{{contact.email}}</td>
          <td>{{contact.phone}}</td>
          <td>{{contact.position}}</td>
          <td class="text-center">
            <a ui-sref="clients.show.contact_people.show({ id: client.id, person_id: contact.id })">
              <span class="glyphicon glyphicon-pencil orange" aria-hidden="true"></span>
            </a>
          </td>
        </tr>
      </tbody>
    </table>

    <pagination total-items="pagination.totalItems" items-per-page="pagination.itemsPerPage" ng-model="pagination.currentPage" ng-change="pagination.pageChanged()" ng-if="pagination.itemsPerPage < pagination.totalItems"></pagination>
  </div>
</div>
<hr/>
<div class="row">
  <div class="col-xs-12">
    <form name="add_contact_form" novalidate class="form contact-form form-inline" ng-controller="ContactAddCtrl" ng-submit="saveContact(contact)">
      <div class="form-group has-feedback" ng-class="{ 'has-error' : (add_contact_form.$submitted || add_contact_form.name.$touched) && add_contact_form.name.$error.required }">
        <input type="text" class="form-control" placeholder="Name" ng-model="contact.name" name="name" required/>
        <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-class="{ 'hidden' : !((add_contact_form.$submitted ||  add_contact_form.name.$touched) && add_contact_form.name.$error.required) }"></span>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Correo electronico" ng-model="contact.email" name="email"/>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Telefono" ng-model="contact.phone" name="phone"/>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Puesto" ng-model="contact.position" name="phone"/>
      </div>
      <div class="form-group">
        <input type="checkbox" ng-model="contact.decision_maker" name="decision_maker"/>
        <label for="decision_maker">Toma decisiones?</label>
      </div>
      <div class="actions form-group">
        <input type="submit" class="btn btn-success" value="Agregar" ng-disabled="!add_contact_form.$valid"/>
      </div>
    </form>
  </div>
</div>