<h1>
  {{client.name}} - Remito de ingreso # {{entry_order.number}}
</h1>

<hr/>

<div class="row client-information">
  <div class="col-xs-6">

    <ul class="fa-ul">
      <li>
        <i class="fa-li fa fa-map-marker fa-lg gray-dark"></i>
        {{client.address_ext}}
      </li>

      <li>
        <i class="fa-li fa fa-phone fa-lg gray-dark"></i>
        {{client.phone}}
      </li>

      <li>
        <i class="fa-li fa fa-envelope-o fa-lg gray-dark"></i>
        {{client.email}}
      </li>

      <li>
        <i class="fa-li fa fa-building-o fa-lg" ng-class="{ 'green' : client.category.id === 0, 'red' : client.category.id === 1, 'blue' : client.category.id === 2 }" title="{{client.category.name}}"></i>
        {{client.category.name}}
      </li>
    </ul>

  </div>
</div>

<hr/>
<div bs-tabs>
</div>