.green {
  color: $color-green !important;
}
.dark-green {
  color: $color-green-dark !important;
}
.blue {
  color: $color-blue !important;
}
.dark-blue {
  color: $color-blue-dark !important;
}
.yellow {
  color: $color-yellow !important;
}
.dark-yellow {
  color: $color-yellow-dark !important;
}
.red {
  color: $color-red !important;
}
.dark-red {
  color: $color-red-dark !important;
}
.orange {
  color: $color-orange !important;
}
.dark-orange {
  color: $color-orange-dark !important;
}
.turquoise {
  color: $color-turquoise !important;
}
.dark-turquoise {
  color: $color-turquoise-dark;
}
.light-blue {
  color: $color-light-blue !important;
}
.dark-light-blue {
  color: $color-light-blue-dark !important;
}
.gray {
  color: $color-gray !important;
}
.gray-dark {
  color: $color-gray-dark !important;
}