/* Sacaunturno colors */
$color-green: #2ECC71;
$color-green-dark: #27AE60;
$color-orange: #F7BA40;
$color-orange-dark: #BD8007;
$color-gray: #ECF0F1;
$color-gray-dark: #7F8C8D;
$color-black: #2F2E2C;
$color-blue: #34495E;
$color-blue-dark: #2C3E50;
$color-red: #E74C3C;
$color-red-dark: #C0392B;
$color-orange: #E67E22;
$color-orange-dark: #D35400;
$color-yellow: #F1C40F;
$color-yellow-dark: #F39C12;
$color-light-blue: #2980B9;
$color-light-blue-dark: #26609A;
$color-turquoise: #1ABC9C;
$color-turquoise-dark: #16A085;